<%- include('../partials/header.ejs'); %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3> Survey  </h3>
          <a href="surveys/add" class="btn btn-primary"><i class="fa fa-plus"></i> Create a Survey</a>
          <br>
          <br>
        </div>
        <div class="col-md-6">
          <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">Questions</div>
        <div class="col-md-4 text-center">Options</div>
        <div class="col-md-1">Submit</div>
        <div class="col-md-1">Edit</div>
        <div class="col-md-1">Delete</div>
      </div>

      <% for (let count = 0; count < surveys.length; count++) { %>
        <form action="/surveys/submit/<%= surveys[count]._id %>" name="form_<%= surveys[count]._id %>" method="post">

          <div class="row">
            <div class="col-md-3"><%= surveys[count].question %></div>
            <div class="col-md-1">
              <%= surveys[count].option1 %>
              <br /><%= surveys[count].vote1 %>
              <br><input type="radio" name="Communication" value="vote1">
            </div>
            <div class="col-md-1">
              <%= surveys[count].option2 %>
              <br><%= surveys[count].vote2 %>
              <br><input type="radio" name="Communication" value="vote2">
            </div>
            <div class="col-md-1">
              <%= surveys[count].option3 %>
              <br><%= surveys[count].vote3 %>
              <br><input type="radio" name="Communication" value="vote3">
            </div>
            <div class="col-md-1">
              <%= surveys[count].option4 %>
              <br><%= surveys[count].vote4 %>
              <br><input type="radio" name="Communication" value="vote4">
            </div>
            <div class="col-md-1">
              <button class="btn btn-success btn-sm" type="submit">
                <i class="fas fa-pencil-alt"></i> Submit</button>
            </div>
            <div class="col-md-1">
              <a href="/surveys/<%= surveys[count]._id %>" class="btn btn-primary btn-sm">
                <i class="fas fa-pencil-alt"></i> Edit</a>
            </div>
            <div class="col-md-1">
              <a href="/surveys/delete/<%= surveys[count]._id %>" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i> Delete</a>
            </div>
          </div>

        </form>
      <% } %>

    </div>

<%- include('../partials/footer.ejs'); %>


